<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--replace initializeData value with the name of the folder in which to store the logging messages in.-->
        <add name="MyLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="mylogfile.txt" />
      </listeners>

    </trace>
    <switches>
      <!--value = "0", logging is off
          value = "1" or any non-zero number, logging is on-->
      <add name="Logging" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>